{% extends 'mentalhealth/base.html' %}

{% block title %}會員登入 - DoSome 心理健康學習平台{% endblock %}

{% block content %}
<div class="jumbotron mt-3">
    <h1>會員登入</h1>
    {% if form.errors %}
    <h4>用戶註冊後需要管理員審核，請耐心等候！</h4>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">登入</button>
    </form>
    
    <p></p>
        <p>還沒有帳號嗎? <a href="{% url 'register' %}">註冊</a></p>
</div>
{% endblock %}