{% extends 'mentalhealth/base.html' %}

{% block title %}發佈課程 - DoSome 心理健康學習平台{% endblock %}
{% block content %}
<!-- 產品詳細介紹 -->
<div class="p-3 mb-2 bg-danger text-white"><h2>發佈課程</h2></div>
<details>
    <summary>開始發佈新課程<form method="POST" enctype="multipart/form-data"></summary>
        <br/>
        <div class="col-auto">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-dark" style="color:white; float:right" value="發佈">
        </div>
    </form>
</details>
<br/>
<br/>
<br/>
<div class="p-3 mb-2 bg-danger text-white"><h2>我的課程列表</h2></div>
    <table class="table">
        <thead>
            <th>課程名稱：</th>
            {% comment %} <th>Quantity</th> {% endcomment %}
            <th>點擊次數：</th>
            <th></th>
        </thead>

        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.coursename }}</td>
                {% comment %} <td>{{ item.order.quantity }}</td> {% endcomment %}
                <td>{{ course.hit_count.hits }}</td>
                <td>
                    <a href="{% url 'course' course.id %}" class="btn btn-primary" style="color:white;">閱讀</a>
                    <a href="{% url 'writeCoursesUpdate' course.id %}" class="btn btn-success" style="color:white;">修改</a>
                    <a href="{% url 'writeCoursesDelete' course.id %}" class="btn btn-danger" style="color:white;">刪除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
